#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1

export GOPATH=$(CURDIR)

SRCDIR=github.com/{{OrgName | toLower}}/{{PackageName}}
PKGNAME=$(shell basename $(SRCDIR))
PKGDIR=debian/$(PKGNAME)
VERSION=$(shell dpkg-parsechangelog | sed -n -e 's/^Version: //p')
BUILDHASH=$(shell cd src/$(SRCDIR) && git rev-parse --verify HEAD | cut -c 1-7)

%:
	dh $@ 

clean:
	dh_clean
	rm -rf $(GOPATH)/bin/* $(GOPATH)/pkg/*
	#cd $(GOPATH)/src && find * -name '*.go' -exec dirname {} \; | xargs -n1 go clean
	rm -f $(GOPATH)/goinstall.log

binary-arch: clean
	dh_prep
	dh_installdirs
	go get -ldflags "-X main.buildhash=$(BUILDHASH)" $(SRCDIR)
	go get -ldflags "-X main.buildhash=$(BUILDHASH)" $(SRCDIR)/cmd/nsqcon
	go get -ldflags "-X main.buildhash=$(BUILDHASH)" $(SRCDIR)/cmd/cron
	mkdir -p $(PKGDIR)/usr/bin
	install -d $(PKGDIR)/var/www/$(PKGNAME)/bin/
	cp $(GOPATH)/bin/$(PKGNAME) $(PKGDIR)/var/www/$(PKGNAME)/bin/$(PKGNAME).$(VERSION)
	cp $(GOPATH)/bin/nsqcon $(PKGDIR)/var/www/$(PKGNAME)/bin/nsqcon
	cp $(GOPATH)/bin/cron $(PKGDIR)/var/www/$(PKGNAME)/bin/cron
	ln -sf /var/www/$(PKGNAME)/bin/$(PKGNAME).$(VERSION) $(PKGDIR)/usr/bin/$(PKGNAME) 
	PKGDIR=$(PKGDIR) SRCDIR=src/$(SRCDIR)/ bash src/$(SRCDIR)/bin/deploy 
	dh_strip
	dh_compress
	dh_fixperms
	install -d $(PKGDIR)/var/log/$(PKGNAME) -o www-data
	dh_installdeb
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-arch
